*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
*.pper
*.Rproj.user/shared/notebooks/paths
*.windowlayoutstate.pper
*.workbench-pane.pper
*./sources/prop/INDEX
*.Rproj.user/shared/notebooks/paths
.Rproj.user/147687EE/pcs/windowlayoutstate.pper
.Rproj.user/147687EE/pcs/workbench-pane.pper
.Rproj.user/147687EE/sources/prop/INDEX
.Rproj.user/shared/notebooks/paths
.Rproj.user/147687EE/pcs/windowlayoutstate.pper
