
.Rproj.user/147687EE/sources/prop/DA58E088
.Rproj.user/147687EE/sources/prop/DA58E088
.Rproj.user/147687EE/sources/session-ccddd987/466CCE61
.Rproj.user/147687EE/sources/session-ccddd987/466CCE61-contents
.Rproj.user/147687EE/sources/session-ccddd987/58A8C717
.Rproj.user/147687EE/sources/session-ccddd987/58A8C717-contents
.Rproj.user/147687EE/sources/session-ccddd987/C7678E7E
.Rproj.user/147687EE/sources/session-ccddd987/C7678E7E-contents
.Rproj.user/147687EE/sources/session-ccddd987/D6C0F6F1-contents
